#home{
    font-size: 13px;
    color: #0D3563;
    font-weight: bold;
}

.img{
    padding-left: 12px;
    margin-top: 3px;
    margin: auto;
}

.nav-link{
    font-size: 13px;
    color: #626262;
}

.navbar-toggler,
.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus{
    outline: none;
    box-shadow: none;
    border: 0;
}