.foot{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.foot-text{
    font-size: 13px;
    color: #5e5e5e;
}

.chat{
    font-size: 13px;
    text-decoration: none;
    color: #00AEEF;
}

@media (max-width : 576px){
    .foot{
        flex-direction: column;
    }
}